@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --color-primary: #1E63A9;
  --color-primary-dull: #4C7DA6;
  --color-secondary: #FCDE0E;
  --color-third :#04B2F1;
}

body {
  font-family: "Raleway", sans-serif;
}

.active hr{
    @apply block
}
